# Data exploration
This file contains several methods for data exploration. These will be baby steps but they can be quite important in getting a sense of what out data looks like.
## What kind of data?
Initialy, we will be using water quality time-series data record every 15 mins at a particular station (Gallego en Villanueva) in the Ebro river, Spain. The variables available are:

1. Absorbance.
2. Ammonium.
3. Conductivity.
4. Dissolved oxygen.
5. pH.
6. Turbidity.
7. Water level.
8. Water temperature.

All data is available in the [data repo](https://github.com/xrigueira/data).

In [ ]:
# Load the preprocessed data
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# Plot a normalized variable (e.g. absorbance_903)
stationNumber = 903
varName = 'absorbance_903'
df = pd.read_csv(f'data/merged_{str(stationNumber)}.csv', sep=';', encoding='utf-8')
df.plot(kind='line', x='date', y=varName)
plt.show()

In [2]:
import pandas as pd

df = pd.read_csv(f'data/results.csv', sep=';', encoding='utf-8')

df.sort_values('Perc_Gaps')[['Variable', 'Perc_Gaps']] \
.reset_index(drop=True) \
.style \
.background_gradient(cmap='Reds')